@model TermHeader


<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Dashboard">Moderator</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Terms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Term Header Edit</li>
        </ol>
    </nav>
    <div class="row mb-3">
        <form method="post" class="w-100">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group col-12 mb-3">
                <label asp-for=" Header"></label>
                <input class="form-control" asp-for="Header" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-block btn-success" value="Update" />
        </form>

    </div>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</div>
</div>