<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Hello @User.Identity.Name</li>
    </ol>
</nav>